body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.qr-code {
    width: 150px;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

#game-content {
    margin-top: 20px;
}

#game-questions {
    margin-top: 20px;
}

#scoreboard {
    list-style-type: none;
    padding: 0;
}

#scoreboard li {
    background-color: #e0e0e0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
